body {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.input.form-control {
  border-radius: 10px !important;
  height: calc(2em + 2px + 0.75rem) !important;
}
.fileSelector{ 
background: #f8ffe9;
  border-radius: var(--corner-full, 1000px);
  border-style: solid;
  border-color: #527a21;
  border-width: 1px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 52px;
  position: relative;
}
